<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bw.mapper.BrandDao">
	<select id="selectlist" resultType="com.bw.entity.Brand">
		select * from brand
	</select>
	<select id="selectlist1" resultType="com.bw.entity.Goodskind">
		select * from goodskind
	</select>
</mapper>